@page "/"

<PageTitle>Главная</PageTitle>

 <!--HERO-->
<section class="section hero" aria-label="home" id="home"
        style="background-image: url('./assets/images/hero-banner.jpg')">
   <div class="container">
     <div class="hero-content">

       <h2 class="h1 hero-title">
         <span class="span">По любому</span> направлению
       </h2>

       <p class="hero-text">
         Множество вариантов доставки грузов по Республике Татарстан!
       </p>

       <img alt="" src="./assets/images/hero-shape.png" width="116" height="116" loading="lazy"
            class="hero-shape shape-1">

       <img alt="" src="./assets/images/hero-shape.png" width="116" height="116" loading="lazy"
            class="hero-shape shape-2">

     </div>

   </div>
</section>

 <!--ABOUT-->
<section class="section about" id="about" aria-label="about">
  <div class="container">
    

    <figure class="about-banner img-holder" style="--width: 400; --height: 720;">
      <img src="./assets/images/about-banner.jpg" width="400" height="720" loading="lazy" alt=""
           class="img-cover">

      <img src="./assets/images/about-shape-2.png" width="500" height="500" loading="lazy" alt=""
           class="abs-img abs-img-2">
    </figure>

    <div class="about-content">

      <p class="section-subtitle">Почему именно мы?</p>

      <h2 class="h2 section-title">Мы квалифицированные профессионалы в своем деле!</h2>

      <ul class="about-list">

        <li class="about-item">
          <div class="about-icon">
            <ion-icon name="chevron-forward"></ion-icon>
          </div>

          <p class="about-text">
            Выйдите за рамки логистики, заставьте мир вращаться и произведите революцию в бизнесе.
          </p>
        </li>

        <li class="about-item">
          <div class="about-icon">
            <ion-icon name="chevron-forward"></ion-icon>
          </div>

          <p class="about-text">
            Логистика через инновации, преданность своему делу и технологии.
          </p>
        </li>

        <li class="about-item">
          <div class="about-icon">
            <ion-icon name="chevron-forward"></ion-icon>
          </div>

          <p class="about-text">
            Мы гордимся тем, что обслуживаем наших клиентов безопасно.
          </p>
        </li>

        <li class="about-item">
          <div class="about-icon">
            <ion-icon name="chevron-forward"></ion-icon>
          </div>

          <p class="about-text">
            Воображение того, что мы можем легко увидеть, составляет лишь небольшой процент.
          </p>
        </li>

        <li class="about-item">
          <div class="about-icon">
            <ion-icon name="chevron-forward"></ion-icon>
          </div>

          <p class="about-text">
            Качество никогда не выходит из моды. безопасность, качество, профессионализм.     
          </p>
        </li>

        <li class="about-item">
          <div class="about-icon">
            <ion-icon name="chevron-forward"></ion-icon>
          </div>

          <p class="about-text">
            Качество проявляется в каждом шаге, который мы делаем там, где живет бизнес.
          </p>
        </li>

      </ul>
    </div>
  </div>
</section>






   
