@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <header class="header active">
        <HeaderBar/>
    </header>
    
    <main>
        <article>
            @Body
        </article>
    </main>
    
    <footer class="footer">
        <FooterBar/>
    </footer>
</CascadingAuthenticationState>
